body {
    font-family: Source Sans Pro, sans-serif;
}

section {
    background-color: #61abda;
    height: 100vh;
}

.hero {
    background-color: #001220;
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    
    background-color: #001220;
    height: 40vh;
    color: white;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-between;
    font-size: 40px;
}

ul.show {
    display: block;
}

li {
    /* width: 200px; */
    text-decoration: none;
}

h1 {
    font-size: 90px;
    margin: 0;
}

h2 {
    font-size: 50px;
}

p {
    margin: 0;
    margin-top: 20px;
    font-weight: 300px;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    border-radius: 27px;
    background-color: #fa7268;
    text-align: center;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: #f5695e;
}

.button:active {
    background: darkgray;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 10px;
}

.logo {
    height: 80px;
    margin: 30px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 400px;
    border-radius: 150px;
}

.headshot-container {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-card {
    width: 300px;
    height: 500px;
    border: 1px solid black;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

a {
    text-decoration: none;
    color: white;
}

.hamburger {
    display: none;
}

.hamburger:focus {
    outline: 0;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        margin: 20px;
        align-self: flex-end;
    }

    ul {
        display: none;
        background-color: #01223b;
        margin: 0px;
    }

    ul.show {
        display: block;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background-color: #01223b;
    }

    .logo {
        display: none;
    }
}